.hn{
    display: flex;
    justify-content: center;

}
.nav > a{
    text-decoration: none;

}
.nav > a:hover{
    background-color: azure;
}
.nav{
    background-color:red;
    width: 100vw;
    height: 22px;
    text-align: center;
    padding: 10px;

}
